<div class="home-layout">
        <main class="main-content">
            <section class="card-container">
                @for (key of gameKeys; track key) {
                    <div class="card" (click)="selectGame( key )">
                        <h2>{{ getGameDetails(key).title }}</h2>
                        <div class="details-box">
                            <div class="detail"><i class="fa-solid fa-users"></i> {{ getGameDetails(key).players }}</div>
                            <div class="detail"><i class="fa-solid fa-clock"></i> {{ getGameDetails(key).estimatedTime }}</div>
                        </div>
                    </div>
                }
            </section>

            @if (isGameDetailsSidebarOpen) {
                <aside class="game-details-sidebar">
                    <div class="sidebar-top-section">
                        <h1>{{ getGameDetails(selectedGameKey).title }}</h1>
                        <p>{{ getGameDetails(selectedGameKey).description }}</p>
                    </div>
                    <div class="sidebar-bottom-section">
                        <button (click)="createRoom()">create room</button>
                    </div>
                </aside>
            }
        </main>
    @if (isModalOpen) {
        <div class="modal-overlay" (click)="closeModal()">

            <div class="modal-container" (click)="$event.stopPropagation()">

                <div class="modal-header">
                    <h2>Login required</h2>
                    <button class="close-x" (click)="closeModal()">X</button>
                </div>

                <div class="modal-body">
                    <p>Give yourself a name, which is 3-50 characters long.</p>
                    <input type="text"
                        [(ngModel)]="username"
                        (keyup.enter)="saveUser()"
                        maxlength="50">
                </div>

                <div class="modal-footer">
                    <button class="btn-cancel" (click)="closeModal()">Cancel</button>
                    <button class="btn-login"
                            (click)="saveUser()"
                            [disabled]="username.trim().length < 3">
                        Login
                    </button>
                </div>

            </div>
        </div>
    }
</div>